body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.root {
    width: 50%;
}

.folder {
    background-color: white;
    margin-left: 20px;
}

/* .root > .folder:nth-child(odd) {
    background-color: #f2f6fc;
}

.root > .folder > .folder:nth-child(even) {
    background-color: #f2f6fc;
} */
